<header class="fixed-header" role="banner">
    <div class="container-fluid">

        <div class="site-title col-xs-3">
            <h1> My profile </h1>
        </div>

        <div class="top-components col-xs-3 pull-right">
        </div>
    </div>
</header>

<menu id="user" class="dynamicMenu">

    <div class="user-profile">
        <div class="profile-pic">
            <img src="https://images.unsplash.com/photo-1549669944-ca3e8b576248?ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
                alt="username here" />
        </div>

        <div class="user-info">
            <div class="username">
                <p><strong> Laura Egan</strong> </p>
            </div>
            
        </div>
    </div>

    <ul class="admin-menu">
        <li>abcd@example.com</li>
        <li>0123456789</li>
        <li>address </li>
        <li>Job Title</li>
    </ul>
</menu>

<main>
    <section>
        <h2>Little about me</h2>

        <p><strong>designer is a person who makes designs for objects.</strong> <br> ... More formally, a designer is an
            agent that "specifies the structural properties of a design object". In practice, anyone who creates
            tangible or intangible objects, products,
            processes, laws, games, graphics, services, and experiences is referred to as a designer.
            <br><br>
            <h2>What is Lorem Ipsum?</h2>

            <ol>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
            </ol>
            <br><br>
    </section>
</main>
