<div class="about-container">


<div class="top-nav">
  <h1>Covid-19 Tracker</h1>
  <div class="option-container">
    <a routerLink="/home">World COVID count</a>
    <a routerLink="/USA">USA COVID count</a>
  </div>
</div>




<menu id="user" class="dynamicMenu">

    <div class="user-profile">
        <div class="profile-pic">
            <img src="assets/profile.jpg" alt="username here" />
        </div>

        <div class="user-info">
            <div class="username">
                <p><strong> Trisha Rayan</strong> </p>
            </div>

        </div>
    </div>

    <ul class="admin-menu">
        <li>abcd@example.com</li>
        <li>Student</li>
        <li>College </li>
    </ul>
</menu>

<main>
    <section>
        <h2>Little about me</h2>

        <p><strong>designer is a person who makes designs for objects.</strong> <br> ... More formally, a designer is an
            agent that "specifies the structural properties of a design object". In practice, anyone who creates
            tangible or intangible objects, products,
            processes, laws, games, graphics, services, and experiences is referred to as a designer.
            <br><br>
            <h2>About this project</h2>

            <ol>
                <li>something about the project</li>
                <li>what this project does</li>
            </ol>
            <br><br>
    </section>
</main>
</div>
